// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   22.0,
    beta:    20.0,
    gamma:   18.0,
    delta:   16.0,
    epsilon: 14.0,
    zeta:    12.0,
    eta:     11.0,
    theta:   10.0,
    iota:    10.0
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   24.0,
    beta:    22.0,
    gamma:   20.0,
    delta:   18.0,
    epsilon: 16.0,
    zeta:    14.0,
    eta:     12.0,
    theta:   11.0,
    iota:    11.0
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   26.0,
    beta:    24.0,
    gamma:   22.0,
    delta:   20.0,
    epsilon: 18.0,
    zeta:    16.0,
    eta:     14.0,
    theta:   12.0,
    iota:    12.0
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-3: (
    alpha:   28.0,
    beta:    26.0,
    gamma:   24.0,
    delta:   22.0,
    epsilon: 20.0,
    zeta:    18.0,
    eta:     16.0,
    theta:   14.0,
    iota:    14.0
  ),
  // Aug. Fourth http://www.modularscale.com/?22,50&px&1.414&web&text
  scale-4: (
    alpha:   28.0,
    beta:    26.0,
    gamma:   24.0,
    delta:   22.0,
    epsilon: 20.0,
    zeta:    18.0,
    eta:     16.0,
    theta:   14.0,
    iota:    14.0
  )
);
